*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #172026;
  color: #027373;
  overflow-x: hidden;
  min-height: 100vh;
  max-height: 100%;
}

.barraSuperior{
  background-color: #027373;
  height: 60px;
  text-align: left;
  padding: 10px;
}

.but{
  font-size: 18px;
  text-align: center;
  height: 55px;
  border: none;
  width: 170px;
  color: #5FCDD9;
  background-color: #172026;
  border-radius: 30px;
  cursor: pointer;
  transition: 1s;
}

.but:hover{
  background-color: #5FCDD9;
  color: #172026;
}

.butM{
  margin-top: 40px;
  font-size: 30px;
  text-align: center;
  height: 100px;
  border: none;
  width: 600px;
  color: #172026;
  background-color: #027373;
  border-radius: 30px;
  cursor: pointer;
  transition: 1s;
}

.butM:hover{
  background-color: #5FCDD9;
  color: #172026;
}

.t1{
  color: #5FCDD9;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 20px;
}

.SM{
  font-size: 30px;
}

.divimage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.paragrafo{
  font-size: 23px;
  width: 60%;
  color: #5FCDD9;
}

.image{
  border-radius: 20px;
  height: 400px;
  margin-right: 200px;
  border: 5px solid #5FCDD9;
} 

.ano{
  color: white;
  margin-left: 25px;
}

.butMNLH{
  font-size: 17px;
  text-align: center;
  height: 55px;
  border: none;
  width: 170px;
  color: #027373;
  background-color: #172026;
  border-radius: 30px;
  cursor: pointer;
  transition: 1s;
}

.butMNLH:hover{
  background-color: #5FCDD9;
  color: #172026;
}

.t2{
  font-size: 30px;
  margin-left: 25px;
  margin-top: 20px;
}

a{
  font-size: 30px;
  color: #5FCDD9;
  text-decoration: none;
}

.box2{
  text-align: center;
}

.imgcurriculo{
  height: 750px;
  margin-right: 100px;
  border: 5px solid #5FCDD9;  
  border-radius: 10px;
}

.t3{
  color: #5FCDD9;
  display: flex;
  flex-direction: column;
}

.bs{
  cursor: pointer;
  flex-direction: column;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: none;
  background: none;
}

.curriculo_title{
  font-size: 20px;
  margin-top: 15px;
  margin-left: 30px ;
}

.downloadc{
  cursor: pointer;
  border: 3px solid #5FCDD9;
  background-color: #172026;
  color: #5FCDD9;
  border-radius: 10px;
  margin-left: 165px;
  font-size: 20px;
  width: 200px;
  height: 40px;
  transition: 1s;
}

.downloadc:hover{
  border-color: #172026;
  background-color: #5FCDD9;
  color: #172026;
}

.div_icons{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 15px;
  margin-left: 30px;
}

.div_b_sobre{
  gap: 10px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}