@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #172026;
  color: #027373;
  overflow-x: hidden;
  min-height: 100vh;
  max-height: 100%;
}

.barraSuperior{
  background-color: #1c2830;
  height: 64;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top2{
  gap: 30px;
  margin-right: 30px;
}

.but{
  font-size: 18px;
  text-align: center;
  height: 64px;
  border-color: #02737300;
  border-style: ridge;
  width: 170px;
  color: #5FCDD9;
  background-color: #1c2830;
  cursor: pointer;
  transition: 1s;
}

.but:hover{
  border-color: #5FCDD9;
  color: #5FCDD9;
}

.butM{
  margin-top: 40px;
  font-size: 30px;
  text-align: center;
  height: 100px;
  border: none;
  width: 600px;
  color: #172026;
  background-color: #5FCDD9;
  border-radius: 30px;
  cursor: pointer;
  transition: 1s;
}

.butM:hover{
  background-color: #027373;
  color: #5FCDD9;
}

.t1{
  color: white;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 20px;
}

.SM{
  font-size: 50px;
  text-align: justify;
}

.divimage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.paragrafo{
  font-size: 18px;
  width: 60%;
  color: #5FCDD9;
  text-align: justify;
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.image{
  border-radius: 20px;
  height: 400px;
  margin-right: 100px;
  border: 5px solid #5FCDD9;
  animation: go-back 4s infinite alternate;  
} 

@keyframes go-back {
  from {
    transform: translateY(40px);
  }
  to {
    transform: translateY(0);
  }
}

.ano{
  color: white;
  margin-left: 25px;
}

.butMNLH{
  font-size: 17px;
  text-align: center;
  height: 55px;
  border: none;
  width: 170px;
  color: #5FCDD9;
  background-color: #172026;
  border-radius: 30px;
  cursor: pointer;
  transition: 1s;
}

.butMNLH:hover{
  background-color: #5FCDD9;
  color: #172026;
}

.t2{
  color: #5FCDD9;
  font-size: 30px;
  margin-left: 25px;
  margin-top: 20px;
}

a{
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.box2{
  text-align: center;
}

.imgcurriculo{
  height: 750px;
  margin-right: 100px;
  border: 5px solid #5FCDD9;  
  border-radius: 10px;
}

.t3{
  color: #5FCDD9;
  display: flex;
  flex-direction: column;
}

.bs{
  cursor: pointer;
  flex-direction: column;
  
  border-radius: 50%;
  height: 45px;
  width: fit-content;
  border: none;
  background: none;
  display: flex;
  
}

.curriculo_title{
  font-size: 20px;
  margin-top: 15px;
  margin-left: 30px ;
}

.downloadc{
  cursor: pointer;
  border: 3px solid #5FCDD9;
  background-color: #172026;
  color: #5FCDD9;
  border-radius: 10px;
  margin-left: 165px;
  font-size: 20px;
  width: 200px;
  height: 40px;
  transition: 1s;
}

.downloadc:hover{
  border-color: #172026;
  background-color: #5FCDD9;
  color: #172026;
}

.div_icons{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 15px;
  margin-left: 30px;
}

.trabalhos{
  max-width: 100%;
  margin-top: 40px;
  margin-left: 10%;
  color: #5FCDD9;
}

.but2{
  font-size: 18px;
  text-align: center;
  height: 64px;
  width: 170px;
  color: #5FCDD9;
  background-color: #5fcdd900;
  border-color: #5FCDD9;
  border-style: ridge;
  cursor: pointer;
  transition: 1s;
}

.but3{
  font-size: 18px;
  text-align: center;
  margin-top: 200px;
  height: fit-content;
  width: fit-content;
  color: #5FCDD9;
  margin: auto;
  background-color: #5fcdd900;
  border-color: #5fcdd900;
  border-style: ridge;
  cursor: pointer;
  transition: 1s;
}