*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #172026;
  color: #027373;
  overflow-x: hidden;
  min-height: 100vh;
  max-height: 100%;
}
.barraSuperior{
  background-color: #027373;
  height: 60px;
  text-align: left;
  padding: 10px;
}

.but{
  font-size: 18px;
  text-align: center;
  height: 55px;
  border: none;
  width: 170px;
  color: #027373;
  background-color: #172026;
  border-radius: 30px;
  cursor: pointer;
}
.but:hover{
  background-color: #5FCDD9;
  color: #172026;
  transition: 1s;
}

.butM{
  font-size: 17px;
  text-align: center;
  height: 55px;
  border: none;
  width: 170px;
  color: #172026;
  background-color: #027373;
  border-radius: 30px;
  cursor: pointer;
}
.butM:hover{
  background-color: #5FCDD9;
  color: #172026;
  transition: 1s;
}

.t1{
  font-size: 20px;
  margin-left: 25px;
  margin-top: 20px;
}

.divimage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.paragrafo{
  font-size: 23px;
  width: 60%;
}

.image{
  height: 400px;
  margin-right: 70px;
} 

.trimestres{
  color: white;
  margin-left: 25px;
}
